
@media screen and (min-width:992px) {
    body{
        height: 80vh; 
    }
    main{
        margin-top: 11%;
        display: flex;
        justify-content: center;
     
    }
    .containerimage{
        background-color: var(--Soft-violet);  
    }
    #container{
        display: grid;
        grid-template-columns:50% 50%;
        align-items: center;
    }
    #image{
        display:block;
        background: url(../images/image-header-desktop.jpg)no-repeat;
        background-size: cover;
        background-position: center;
        height:354px;
        mix-blend-mode:multiply; 
    }
    /* #text{
       
    } */
}   .list >li{
    display: grid;
    grid-template-columns: 1fr ;
}