
@media screen and (min-width:992px) {
    body{
        min-height: 80vh; 
        
    }
    main{
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }
    .containerimage{
        background-color: var(--Soft-violet); 
        grid-column:2; 
        grid-row: 1;
    }
    #container{ 
        max-width: 1020px;
        display: grid;
        grid-template-columns:1fr 1fr;
        
    }
    #image{
        display:block;
        background: url(../images/image-header-desktop.jpg)no-repeat;
        background-size: cover;
        background-position:top center;
        height:414px;
        mix-blend-mode:multiply;  
        margin: 0;
    }
    .text_title{
        width:62%;
        margin:65px auto 0 auto ; 
        text-align: left;   
    }
    .text-paragraph{ 
        width:62%;
        margin:20px auto 40px auto;
        text-align: left;
        font-size: 13px;
        line-height: 1.7em; 
    }
   .list{
    display: flex;
    margin: 0 auto;
    width: 62%;
    justify-content:space-between;
    text-align: left;
    padding-right: 26px;
   }
   .list > li{
    margin: 1rem 0;
   }
   .list-value{
    font-size: 1.4em;
    margin-bottom:.4rem;

   }
   .list-name{
    font-size:.6em ;
    letter-spacing: 2px;
   }
   .attribution{
    margin-top: .5rem;
    
   }
    
   
  
}